<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodLink Admin</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="item_view_title">Recipes Table</h1>
    <div class="items">
    <table class="table-items">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Instructions</th>
            <th>Associated User</th>
        </tr>
        {% for row in recipes %}
            <tr onmouseover="interact(event)" onclick="options(event)" onmouseout="reset(event)">
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
                <td style="visibility:hidden;"><button class="item_button" onclick="remove_item('{{ row[0] }}', event)"> X </button></td>
                <td style="visibility:hidden;"><button class="item_button" onclick="open_popup('{{ row[1] }}', '{{ row[1] }}', '{{ row[2] }}', '{{ row[0] }}')"> ✐ </button></td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <button class="add" onclick="open_popup('', '', '', '', true)">NEW RECIPE</button>
       <!-- Pop-Up for Editing Quantity & Expiration Date -->
       <div id="popup" class="popup">
        <h2 id="popup-title"></h2>
        <form id="update-form">
            <label for="name">Name:</label>
            <input type="string" id="name" name ="name" required>
            <br><br>
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" name="instructions" required></textarea>
            <br><br>
            <!-- hidden inputs used so js code has variables needed to update-->
            <input type="hidden" id="original-name" name="original-name">
            <input type="hidden" id="original-instructions" name="original-instructions">
            <input type="hidden" id="recipe-id" name="recipe-id">
            <button type="submit">Save</button>
            <button type="reset" onclick="close_popup()">Cancel</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/recipe_view.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>  
</body>
</html>