<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/item_add.js') }}"></script> 
</head>
<body>
    <div class="video-window">
        <button onclick="open_popup(null)">Manually enter barcode</button>
        <br>
        <img src="{{ url_for('barcode_scanner') }}" alt="Barcode Scanner">
    </div>

    <!-- added popup from inventory.html for inputting data of new item-->
    <div id="popup" class="popup">
        <h2 id="popup-title">Add Item</h2>
        <button onclick="close_popup()">X</button>
        <form id="update-form" method="POST" onsubmit="submit_item(event)">
            <!-- all fields must be filled to add item (using required tag)-->
            <label>Barcode:</label>
            <input type="text" id="barcode" name="barcode" required>
            <br>
            <label>Item Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label>Brand:</label>
            <input type="text" id="brand" name="brand" required>
            <br>
            <label>Expiry Time:</label>
            <input type="number" id="expiry_day" class="date_field" name="expiry_day" min="0" max="30" placeholder="DD" required>
            <label>/</label>
            <input type="number" id="expiry_month" class="date_field" name="expiry_month" min="0" max="11" placeholder="MM" required>
            <label>/</label>
            <input type="number" id="expiry_year" class="date_field" name="expiry_year" min="0" max="99" placeholder="YY" required>
            <br>
            <label>Quantity:</label>
            <input type="number" id="default_quantity" name="default_quantity" required>
            <br>
            <label>Unit:</label>
            <input type="text" id="unit" name="unit" required>
            <br>
            <label>Upload Image:</label>
            <!-- only accepts image files -->
            <input type="file" id="item_image" name="item_image" accept="image/jpeg">

            <button type="submit">Add Item</button>
        </form>
    </div>
</body>
</html>