{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
    FoodLink Admin
{% endblock %}

{% block navbar %}
<div class="topnav" id="myTopnav">
  <div class="nav-left">
    <a href="{{ url_for('AdminDashboard') }}">Dashboard</a>
    <a href="{{ url_for('display_reports') }}">Reports</a>
    <a href="{{ url_for('add_item') }}">Add Item</a>
    <a href="{{ url_for('get_items') }}">Items</a>
    <a href="{{ url_for('admin_get_recipes') }}">Recipes</a>
    <a href="{{ url_for('AddAdmin') }}">Admins</a>
  </div>
  <div class="nav-right">
    <a href="{{ url_for('logout') }}">Sign Out</a> 
  </div>
  <a href="#" class="icon" onclick="navbar()">
    <i class="fa fa-bars"></i>
  </a>
</div>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 80px;">  <!-- Add top margin to avoid overlap with fixed navbar -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
{% endblock %}