{% extends "admin_base.html" %}

{% block title %}
    FoodLink Admin Dashboard
{% endblock %}

{% block page_content %}
<div class="admin-home">
  <a class="home-link" href="{{ url_for('display_reports') }}">Manage Reports</a>
  <a class="home-link" href="{{ url_for('add_item') }}">Add New Item</a>
  <a class="home-link" href="{{ url_for('get_items') }}">View Item Table</a>
  <a class="home-link" href="{{ url_for('admin_get_recipes') }}">View Recipe Table</a>
  {% if current_user.advanced_privileges %}
    <a class="home-link" href="{{ url_for('AddAdmin') }}">Add New Admin</a>
  {% endif %}
  <a class="home-link" href="{{ url_for('AdminUpdatePassword') }}">Change My Password</a>
  <!-- <a class="home-link" href="{{ url_for('logout') }}">Log out</a> -->
</div>
{% endblock %}