<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style_sheets/style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThingsBoard Dashboard</title>
</head>
<body>
    <div class="widget">
    <!-- Embed the ThingsBoard Dashboard -->
    <iframe src="{{ temp_url }}" width="225px" height="180px" frameborder="0" ></iframe>
    <iframe src="{{ humid_url }}" width="225px" height="180px" frameborder="0" ></iframe>
    </div>
</body>
</html>

<script>
document.querySelector('.tb-powered-by-footer').style.display = 'none';
</script>