{% extends "base.html" %}

{% block title %}
  FoodLink Dashboard
{% endblock %}

{% block page_content %}


    <div class="dashboard-grid">
      <a href="{{ url_for('get_inventory') }}">
        <div class="tile">
          <h2>Inventory</h2>
        </div>
      </a>
      
        <div class="tile-pair">
          <div class="tile">
            <iframe src="{{ temp_url }}" width="225px" height="180px" frameborder="0"></iframe>
          </div>
          <div class="tile">
            <iframe src="{{ humid_url }}" width="225px" height="180px" frameborder="0"></iframe>
          </div>
        </div>
      
      <a href="{{ url_for('get_shoppingList') }}">
        <div class="tile">
          <h2>Shopping List</h2>
        </div>
      </a>
      
      <a href="{{ url_for('recipe_page') }}">
        <div class="tile">
          <h2>Recipes</h2>
        </div>
      </a>
      </div>
          

{% endblock %}
