<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
    <div class="video-window">
        <img src="{{ url_for('barcode_scanner') }}" alt="Barcode Scanner">
    </div>

    <!-- added popup from inventory.html for inputting data of new item-->
    <div id="popup" class="popup">
        <h2 id="popup-title">Add Item To Inventory</h2>
        <button onclick="close_popup()">X</button>
        <img id="item_image" src="" alt="">
        <form id="update-form" method="POST" onsubmit="submit_item(event)">
            <!-- item fields are readonly-->
            <label>Barcode:</label>
            <input type="text" id="barcode" name="barcode" readonly>
            <br>
            <label>Item Name:</label>
            <input type="text" id="name" name="name" readonly>
            <br>
            <label>Brand:</label>
            <input type="text" id="brand" name="brand" readonly>
            <br>
            <label>Expiry Date:</label>
            <input type="date" id="expiry" name="expiry_date" required>
            <br>
            <label>Quantity:</label>
            <input type="number" id="quantity" name="quantity" required>
            <br>
            <label>Unit:</label>
            <input type="text" id="unit" name="unit" readonly>
            <br>
            <input type="hidden" id="item_id" name="id">
            <button type="submit">Add Item</button>
        </form>
    </div>

    <script>
        function open_popup(id, barcode_number, name, brand, estimated_expiry, default_quantity, unit) {
            stop_check();
            document.getElementById("item_id").value = id;
            document.getElementById("item_image").src = url_for('static', filename='images/' + id + '.jpg');
            document.getElementById("item_image").alt = name;
            document.getElementById('barcode').value = barcode_number;
            document.getElementById("name").value = name;
            document.getElementById("brand").value = brand;
            document.getElementById("expiry_date").value = estimated_expiry;
            document.getElementById("quantity").value = default_quantity;
            document.getElementById("unit").value = unit;
            document.getElementById('popup').style.display = 'block';
        }

        function close_popup() {
            document.getElementById('popup').style.display = 'none';
            document.getElementById("item_id").value = null;
            document.getElementById("name").value = null;
            document.getElementById("brand").value = null;
            document.getElementById("expiry_date").value = null;
            document.getElementById("quantity").value = null;
            document.getElementById("unit").value = null;
            document.getElementById("item_image").src = null;
            document.getElementById("item_image").alt = null;

            fetch("/clear_barcode");
            start_check();
        }

        window.onbeforeunload = function(){
            fetch("/close_capture");
        }   

        window.onload = function(){
            start_check();
        }

        async function check_barcode() {
            try {
                let response = await fetch("/check_barcode");
                let data = await response.json();

                if (data.barcode) {
                    console.log(data.barcode)
                    get_item(data.barcode);
                }
            } catch (e) {
                alert(e);
            }
        }
        
        function start_check() {
            window.interval_id = setInterval(check_barcode, 1000);
        }

        function stop_check() {
            clearInterval(window.interval_id);
        }

        async function submit_item(event) {
            // Prevent the form from submitting normally
            event.preventDefault(); 

            // Recreates form
            const form = event.target;
            const formData = new FormData(form);

            // Sends update command and waits for response
            const response = await fetch('inventory/add_item/add', {
                method: 'POST',
                body: formData,
            });

            //Waits until result is recieved
            const result = await response.json();

            if (result.success) {
                alert("Item added succesfully.");
                close_popup();
            } else {
                alert('There was an error adding the item. Error: ' + result.error);
            }
        }

        async function get_item(barcode_number) {
            try {
                const formData = new FormData();
                formData.append("barcode", barcode_number)
                // Sends update command and waits for response
                const response = await fetch('/barcode_search', {
                    method: 'POST',
                    body: formData
                });

                let data = await response.json();
                console.log(data.error)
                if (data.success) {
                    open_popup(data.item[0], barcode_number, data.item[1], data.item[2], data.item[3], data.item[4], data.item[5]);
                }
            } catch (e) {
                alert(e);
            }
        }
    </script>
</body>
</html>