{% extends "base.html" %}

{% block title %}
  Add Item
{% endblock %}

{% block page_content %}
    <div class="video-window">
        <button onclick="open_personal_popup()">Personal Items</button>
        <button onclick="open_search_popup()">Text search</button>
        <br>
        <label>Switch to AI Item recognition?</label>
        <input type="checkbox" id="scan_mode" onchange="toggle_scan_mode()">
        <br>
        <img id="barcode_scanner" src="{{ url_for('get_scanner') }}" alt="Barcode Scanner">
    </div>

    <div id="not_found_popup" class="popup">
        <h2>Item Not Found</h2>
        <button id="close_not_found_popup" onclick="close_not_found_popup()">×</button>
        <p>The item scanned was not found in the database.</p>
        <button id="open_not_found_button">Add Missing Item</button>
    </div>

    <div id="search_popup" class="popup">
        <h2 id="search-popup-title">Search for item</h2>
        <button id="close_search_popup" onclick="close_search_popup()">×</button>
        <form id="search-form" method="POST" onsubmit="text_search_item(event)">
            <input type="text" spellcheck="true" id="search_term" name="search_term" placeholder="Enter item name..." required>
            <button type="submit">Search</button>
        </form>
        <div id="search_results"></div>
        <button onclick="open_add_popup('search')">Add Missing Item</button>
    </div>

    <!-- added popup from inventory.html for inputting data of new item-->
    <div id="popup" class="popup">
        <h2 id="inv-popup-title">Add Item To Inventory</h2>
        <button id="close-popup" onclick="close_item_popup(false)">×</button>
        <!-- on error used to set default image if there is no image for the item-->
        <img class="item_img" id="item_image" src="" alt="">
        <!-- allows user to edit incorrect item information -->
        <button id="modify_action_button" onclick="open_add_popup('clone')">Clone Item</button>
        <form id="update-form" method="POST" onsubmit="add_item(event)">
            <!-- item fields are readonly apart from expiry and quantity as they can be different per item-->
            <label>Barcode:</label>
            <input type="text" id="barcode" name="barcode" readonly>
            <br>
            <label>Item Name:</label>
            <input type="text" id="name" name="name" readonly>
            <br>
            <label>Brand:</label>
            <input type="text" id="brand" name="brand" readonly>
            <br>
            <label>Expiry Date:</label>
            <input type="date" id="expiry_date" name="expiry_date" required>
            <br>
            <label>Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" required>
            <br>
            <label>Unit:</label>
            <input type="text" id="unit" name="unit" readonly>
            <br>
            <input type="hidden" id="item_id" name="item_id">
            <input type="hidden" id="expiry_time" name="expiry_time">
            <button type="submit">Add Item</button>
        </form>
    </div>

    <div id="add-popup" class="popup">
        <h2 id="add-popup-title">Add To Personal Items</h2>
        <button id="close-add-popup" onclick="close_add_popup(false)">×</button>
        <!-- on error used to set default image if there is no image for the item-->
        <img class="item_img" id="image_preview" src="/static/images/null.jpg" alt="">
        <!-- allows user to edit incorrect item information -->
        <form id="add-form" method="POST" onsubmit="add_new_item(event)">
            <label>Select Image:</label>
            <!-- only accepts image files -->
            <input type="file" id="item_image_edit" name="item_image" accept="image/jpeg" onchange="update_image_preview(event)">
            <br>
            <label>Barcode:</label>
            <input type="text" id="barcode_edit" name="barcode">
            <br>
            <label>Item Name:</label>
            <input type="text" id="name_edit" name="name" required>
            <br>
            <label>Brand:</label>
            <input type="text" id="brand_edit" name="brand">
            <br>
            <label>Expiry Time:</label>
            <div class="expiry-time-group">
                <input type="number" id="expiry_day" class="date_field" name="expiry_day" min="0" max="30" placeholder="DD" required>
                <label>/</label>
                <input type="number" id="expiry_month" class="date_field" name="expiry_month" min="0" max="11" placeholder="MM" required>
                <label>/</label>
                <input type="number" id="expiry_year" class="date_field" name="expiry_year" min="0" max="99" placeholder="YY" required>
            </div>
            <!-- <br> -->
            <label>Default Quantity:</label>
            <input type="number" id="default_quantity" name="default_quantity" min="1" required>
            <br>
            <label>Unit:</label>
            <input type="text" id="unit_edit" name="unit" required>
            <br>
            <label>Add item to inventory?</label>
            <input type="checkbox" id="add_to_inventory" name="add_to_inventory" onchange="toggle_inventory_fields()">
            <br>
            <div id="inventory_fields">
                <label>Expiry Date:</label>
                <input type="date" id="expiry_date2" name="expiry_date">
                <br>
                <label>Quantity:</label>
                <input type="number" id="quantity2" name="quantity" min="1">
            </div>
            <input type="hidden" id="original_item_id" name="item_id">
            <button id="add-popup-submit" type="submit">Add Item</button>
        </form>
        <button class="hidden-button" id="delete_item" onclick="delete_item()">Delete item</button>
    </div>

    <div id="report_popup" class="popup">
        <h2>Report Item</h2>
        <button id="close_report_popup" onclick="close_report_popup()">×</button>
        <p id="report_message">Send request for missing item to be available for all?</p>
        <p id="report_message_2">If successful, your personal item will be replaced.</p>
        <button id="report_button">Send Report</button>       
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/barcode_scan.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/item_handling.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/inventory_add.js') }}"></script> 
{% endblock %}
    