{% extends "admin_base.html" %}

{% block title %}
    FoodLink Admin Items
{% endblock %}

{% block page_content %}
    <div>
        <!-- search and sort form -->
        <form method="GET" action="/admin/item_view" class="filter-form" id="filter-form">
            <input type="text" id="search-input" name="search" placeholder="Search items..." value="{{request.args.get('search_query', '')}}">
            <button type="submit">Search</button>
            <div class="button-divider"></div>
            <button type="button" class="new_item_add" onclick="open_popup('a New Item', '', '', '', '', '', '', '', true)">Add Item</button>
        </form>
    </div>
    <br>
    <div class="items">
    <table class="table-items">
        <tr>
            <th>ID</th>
            <th>Barcode</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Expiry Time</th>
            <th>Default Quantity</th>
            <th>Unit</th>
        </tr>
        {% for row in items %}
            <tr onclick="open_popup(`{{ row[2] }}`, `{{ row[1] }}`, `{{ row[2] }}`, `{{ row[3] }}`, `{{ row[5] }}`, `{{ row[4] }}`, `{{ row[6] }}`, `{{ row[0] }}`)">
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>
    {% if items == [] %}
    <br><h1>No Results</h1>
    {% endif %}
    <div class="next-form-container">
        <form method="GET" action="/admin/item_view" class="next-form" id="next-form" onsubmit="previous(event)">
            <button type="submit" id="button-prev"><i class="fa fa-chevron-left"></i></button>
        </form>
        <form method="GET" action="/admin/item_view" class="next-form" id="next-form" onsubmit="next(event, {{ max }})">
            <button type="submit" id="button-next"><i class="fa fa-chevron-right"></i></button>
        </form>
    </div> 
       <!-- Pop-Up for Editing The Selected Item -->
       <div id="popup" class="popup">
        <h2 id="popup-title"></h2>
        <!-- on error used to set default image if there is no image for the item-->
        <img class="item_img" id="image_preview" src="/static/images/null.jpg" alt="">
        <form id="update-form">
            <label>Select Image:</label>
            <!-- only accepts image files -->
            <input type="file" id="item_image" name="item_image" accept="image/jpeg" onchange="update_image_preview(event)">

            <label for="barcode" id="barcode-label" hidden>Barcode:</label>
            <input type="hidden" id="barcode" name="barcode">
            <!-- <br><br> -->
            <label for="name">Name:</label>
            <input type="string" id="name" name ="name" required>
            <!-- <br><br> -->
            <label for="brand">Brand:</label>
            <input type="string" id="brand" name="brand" required>
            <!-- <br><br> -->
            <label for="quantity">Default Quantity:</label>
            <input type="number" id="quantity" name ="quantity" min ="1" required>
            <!-- <br><br> -->
            <label for="expiry">Expiry Time:</label>
            <input type="string" id="expiry" name="expiry" required>
            <!-- <br><br> -->
            <label for="unit">Unit:</label>
            <input type="string" id="unit" name="unit" required>
            <!-- <br><br> -->
            <!-- hidden inputs used so js code has variables needed to update-->
            <input type="hidden" id="original-expiry" name="original-expiry">
            <input type="hidden" id="original-quantity" name="original-quantity">
            <input type="hidden" id="original-brand" name="original-brand">
            <input type="hidden" id="original-name" name="original-name">
            <input type="hidden" id="original-unit" name="original-unit">
            <input type="hidden" id="item_id" name="item_id">
            <div class="button-group">
            <button type="submit">Save</button>
            <button class="hidden-button" id="delete_button">Delete</button>
            <button type="reset" onclick="close_popup()">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/item_handling.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/item_view.js') }}"></script>     
{% endblock %}