<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Reports</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- displays each users items-->
    <div class="reports-container">
        <table>
            <thead>
                <tr>
                    <th>New Item ID</th>
                    <th>Item ID</th>
                    <th>Error Type</th>
                    <th>Date Created</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tbody id="table_body"></tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/reports.js') }}"></script>
</body>
</html>
