{% extends "admin_base.html" %}

{% block page_content %}
<!-- displays each users items-->
<div class="reports-container">
    <label>Show not assigned reports?</label>
    <input type="checkbox" id="show_null_assign" checked onchange="sort_filter_reports()">

    <label style="margin-left: 30px;">Sort By</label>
    <select id="sort_by" onchange="sort_filter_reports()">
        <!-- if statments make sure the current sort is shown as the default option-->
        <option value="error_type">Error Type</option>
        <option value="date_asc" selected>Date Created Ascending</option>
        <option value="date_desc">Date Created Descending</option>

    </select>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>New Item Name</th>
                <th>Error Type</th>
                <th>Date Created</th>
                <th>Assigned To</th>
            </tr>
        </thead>
        <tbody id="table_body"></tbody>
    </table>
</div>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/reports.js') }}"></script>
{% endblock %}
