<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode Scanner</title>
</head>
<body>
    <div class="video-window">
        <img src="{{ url_for('barcode_scanner') }}" alt="Barcode Scanner">
    </div>

    <script>
        async function check_barcode() {
            try {
                let response = await fetch("/check_barcode");
                let data = await response.json();

                if (data.barcode) {
                    console.log(data.barcode);
                }
            } catch (e) {
                console.log(e);
            }
        }
        setInterval(check_barcode, 500);
    </script>
</body>
</html>