{% extends "base.html" %}

{% block title %}
  Select Tools
{% endblock %}

{% block page_content %}
    <div class="tool-selection container">
        <h1>Select Your Tools</h1>
        <!-- multi stage form for better design-->
        <form id="tool-form" action="{{ url_for('save_tools') }}" method="POST">
            <div id="utensils" class="tool-grid">
                <h2>Utensils</h2>
                <div class="tool-options-grid">
                    <!-- generates a checkbox for each utensil in db-->
                    {% for utensil in utensils %}
                        <div class="tool-option">
                            <!-- if statement checks if user has selected the option before and pre selects it if so-->
                            <input type="checkbox" id="utensil-{{ utensil[0] }}" name="tool" value="{{ utensil[0] }}" {% if utensil[0] in selected_ids %}checked{% endif %}>
                            <label for="utensil-{{ utensil[0] }}">{{ utensil[1] }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- generates a checkbox for each appliance in db-->
            <div id="appliances" class="tool-grid" style="display: none;">
                <h2>Appliances</h2>
                <div class="tool-options-grid">
                    {% for appliance in appliances %}
                        <div class="tool-option">
                            <!-- if appliance has been selected before precheck box-->
                            <input type="checkbox" id="appliance-{{ appliance[0] }}" name="tool" value="{{ appliance[0] }}" {% if appliance[0] in selected_ids %}checked{% endif %}>
                            <label for="appliance-{{ appliance[0] }}">{{ appliance[1] }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="button-container">
                <button type="button" id="nextButton" onclick="showAppliances()">Next</button>
                <!-- MOVE STYLING TO EXTERNAL FILE WHEN MERGED-->
                <button type="button" id="backButton" onclick="showUtensils()" style="display: none;">Back</button>
                <button type="submit" id="saveButton" style="display: none;">Save Selection</button>
            </div>
        </form>
    </div>

    <div id="toast" class="toast"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select_utensils.js') }}"></script> 
{% endblock %}