{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="loginDiv">
        {% if error %}
            <p class="error"><strong></strong> {{ error }}</p>
        {% endif %}

        <h1>Sign In</h1>
        <div class="row">
            <div class="col-md-3">
                {{ wtf.quick_form(form) }}

            </div>
        </div>

    	<div class="loginDownDiv">    
            <p>-----New User-----</p>
	    <button class="btn" type="button" onclick="window.location.href='{{ url_for('createAccount') }}'"> Create Account </button>

        <div>
            <button class="btn" type="button" onclick="window.location.href='{{ url_for('resetByEmail') }}'"> Forget password</button> 
        </div>

        </div>
    </div>
    
    </div>
    <div class="footing">    

    </div>    


{% endblock %}