{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}New Password{% endblock %}


{% block page_content %}
    <div class="loginDiv">
        {% if error %}
            <p class="error"><strong></strong> {{ error }}</p>
        {% endif %}


        <h1>Reset Password</h1>
        <div class="row">
            <div class="col-md-3">
                <form method="post" id="form" role="form">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.password, placeholder="At least 6 characters") }}
                    {{ wtf.form_field(form.passwordConfirm) }}
                    {{ wtf.form_field(form.submit) }}
	            </form>

            </div>
        </div>
	

    </div>
    
    <div class="footing">    

    </div>

{% endblock %}